.valid, .emprunter{
  background: #008800;
  transition: all ease .5s;
}

.valid:hover{
  background: none;
  border: 2px solid #055e00;
  color: #008800;
  transition: all ease .5s;
}


#navbar{
  a:hover{
    border-bottom: 2px solid #008800;
    transition: all ease .2s;
  }
}

.cover{
  box-shadow: 3px 3px 3px grey;
}

table,tr,td{
  border: 1px solid black;
}

@media (min-width: 768px) {
  .miniature{
    border: 5px solid pink;
  }
}