<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valider Utilisateur</title>
  <link rel="stylesheet" href="../css/tailwind.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <form action="uservalid.html" method="post" class="flex">
    <div class="border border-black grid grid-cols-7 gap-1 w-4/5 ml-7 text-center mt-9 h-4/5 overflow-scroll user">
     <h3 class="font-bold">Nom</h3>
     <h3 class="font-bold">Prenom</h3>
     <h3 class="font-bold">Email</h3>
     <h3 class="font-bold">Date de naissance</h3>
     <h3 class="font-bold">Adresse</h3>
     <h3 class="font-bold">niveaux</h3>
     <h3 class="font-bold">valide</h3>
   
    <!-- todo add boucle -->
    
    </div>
    <div class="flex justify-center items-center ml-7">
      <button type="submit" class="valid font-bold text-white border-2 mt-3 rounded pl-1 pr-1">Valider</button>
    </div>
  </form>
</div>
</body>
</html>